/*change Background & header*/
body {
    background-color: rgba(86, 72, 69, 0.03);
}
header {
    color: #f5f5f5;
    background: linear-gradient( rgba(191, 134, 30, 0.42), rgba(224, 224, 224, 0.56)), url(../images/roya-ann-miller-196183-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#smedia > div > div > div.col-xs-12.col-sm-8.navbar-left > p > a {
    color: rgba(7, 19, 18, 0.98);
    font-style: normal;
}
#smedia > div > div > div.col-xs-12.col-sm-8.navbar-left > p > a:hover{
    color: rgba(247, 83, 38, 0.95);
}
#smedia > div > div > div.col-sm-4 > a > i {
    color: #071312;
}
#smedia > div > div > div.col-sm-4 > a > i:hover{
    color: rgba(247, 98, 89, 0.5);
}
#smedia > div > div:nth-child(1) {
    border-bottom: 2px solid #071312;
}
.navbar-default .navbar-nav>li>a {
    color: #071312;
}
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(3, 7, 5, 0.62);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgba(224, 160, 29, 0.44);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: rgba(224, 160, 29, 0.44);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(25, 59, 58, 0.68);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: rgba(203, 143, 31, 0.52);
}
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > p.h2 {
    border-bottom: 2px dotted rgba(138, 97, 21, 0.4);
}
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > p.h2 a {
    color: rgba(1, 6, 5, 0.97);
    text-decoration: none;
}
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > h4 a{color: #f7181d;text-decoration: none;}
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > p{color: #296a50;text-decoration: none;}
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > p {/* padding-top: 20px; */}
#main > div > div > div.col-xs-12.col-sm-4.col-md-4.col-lg-4 > p.h3 {   border-bottom: 2px solid #010605; }
#main > div > div > div.col-xs-12.col-sm-4.col-md-4.col-lg-4 > p.h3::after { background-color: #f7181d;}
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 {  border-right: 2px dotted #eca720;  }
#main > div > div > div.col-xs-12.col-sm-4.col-md-4.col-lg-4 > div > div.col-xs-8.col-sm-8.col-md-8.col-lg-8 > p > a {
    text-decoration: none;
    color: rgba(87, 61, 14, 0.77);
}
#main > div > div > div.col-xs-12.col-sm-4.col-md-4.col-lg-4 > div > div.col-xs-8.col-sm-8.col-md-8.col-lg-8 > p > a:hover {
    text-decoration: none;
    color: rgba(247, 188, 68, 0.22);
}
.btn-danger {
    color: #f7181d;
    border-color: #010605;
    background-color: transparent;
}
.btn-danger:hover {
    color: #fff;
    background-color: transparent;
    border-color: #010605;
}
footer {
    background-size: cover;
    color: rgba(240, 165, 39, 0.97);
    background: #3aaca4  linear-gradient(rgba(191, 134, 30, 0.42), rgba(139, 139, 139, 0.69)), url(../images/Chittagong_Court_Building.JPG) fixed;
    padding: 20px 0;
}
body > footer > div > div > div:nth-child(2) > p > a > i {
    color: rgba(87, 61, 14, 0.8);
    font-size: 30px;
    padding: 0 10px 0 0;
}
body > footer > div > div > div:nth-child(1) > p:nth-child(3) > a > i { border: 2px solid #010605; color: #573d0e; }
body > footer > div > div > div > p.h2::after { background-color: #573d0e;  }
#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > p:nth-child(1) > a > i {
    color: #573d0e;
    background-color: transparent;
    padding: 0;
    font-size: 51px;
    margin-top: 54px;
}

#main > div > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-8 > div > p.h2.text-center {
    color: #1d1604;
}